# OS ignores
## Windows
Thumbs.db

## macOS
.DS_Store

## Linux
lost+found

# Stack ignores
*.mrpack

# IDE ignores
.vscode

# Project ignores
licenses.csv
server/
tools/catenary_chain/catenary_chain
tools/catenary_chain/catenary_chain.exe
tools/license_report/license_report
tools/license_report/license_report.exe
tools/make_server_both/make_server_both
tools/make_server_both/make_server_both.exe
tools/packdiff/packdiff
tools/packdiff/packdiff.exe
