# OS ignores
## Windows
Thumbs.db

## macOS
.DS_Store

## Linux
lost+found

# Stack ignores
*.mrpack

# IDE ignores
.vscode

# Project ignores
licenses.csv
server/
tools/license_report/license_report
tools/make_server_both/make_server_both
